ion-content {
  --color: rgb(36 140 255);

  ion-icon {
    color: rgb(36 140 255);
  }
}
h1 {
  margin: 0;
  margin-top: 1em;
}
p {
  margin: 0;
}

.splash {
  padding: 2em;
}

ion-button {
  margin-top: 1.5em;
}
